<tr id="<%= dom_id(skill) %>">
    <td><%= skill.name %></td>
    <td><%= skill.created_at.strftime('%Y-%m-%d')  %></td>
    <td style="display: flex; align-items: center; gap: 9px;">
    <% if (current_user) %>
    <%= button_to edit_admin_skill_path(skill), method: :get, data: { turbo_frame: 'new_skill' }, class: 'btn btn-edit' do %>
  <img src="https://www.freeiconspng.com/uploads/edit-editor-pen-pencil-write-icon--4.png" alt="Edit" style="height: 22px; width: 20px;">
<% end %>
    <%= button_to admin_skill_path(skill), method: :delete, data: { turbo_confirm: "Are you sure?" } do %>
                <img src="https://cdn-icons-png.flaticon.com/512/6861/6861362.png" alt="Delete" style="height: 22px; width: 22px;">
            <% end %>
        <%end%>
    </td>
</tr>

