<div class="container">
  <h2 class="text-center m-4 pt-4"> Job Directory</h2>

  <%= render partial: 'jobs/job_filter', locals: { path: jobs_path } %>

  <%= render partial: 'jobs/job_sort', locals: { path: jobs_path } %>

  <div class="job-listings">
    <% if @jobs.any? %>
      <% @jobs.each do |job| %>
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <h5 class="card-title"><%= job.title%></h5>
                <p class="card-text mb-1"><%= job.location %></p>
                <p class="card-text"><small class="text-muted"><%= job.experience_required %>+ years experience</small></p>
                <% if job.category.present? %>
                  <p class="card-text"><small class="text-muted">Category: <%= job.category.name %></small></p>
                <% else %>
                  <p class="card-text"><small class="text-muted">Category: None</small></p>
                <% end %>
                <p class="card-text"><small class="text-muted"><strong>Last Date:</strong><%= job.closing_date.to_date %></small></p>
                <p class="card-text"><small class="text-muted"><strong>Posted At:</strong><%= job.created_at.to_date %></small></p>
              </div>
              <div class="col-md-4 text-md-end">
                <p class="card-text mt-3"><%= job.description.truncate(200) %></p>
                <a href="<%= job_path(job) %>" class="arrow-link pb-2">
                  <i class="bi bi-arrow-right custom-button"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    <% else %>
      <div class="alert alert-info text-center">
        <strong>Currently no job openings available.</strong>
      </div>
    <% end %>
    
    <div class="flickr_pagination my-4">
        <%= will_paginate @jobs, :container => false %>
    </div>
  </div>
</div>

