<div class="container my-5">
  <%= render 'jobs/job_detail' %>

  <h1 id="applications-start">Job Applications</h1>

  <%= form_tag admin_job_path(@job), method: :get, class: 'mb-4', id: 'filter-form' do %>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="status">Application Status</label>
          <%= select_tag :status, options_for_select([['All', ''], ['Under Review', 'under_review'], ['Rejected', 'rejected'], ['Shortlisted', 'shortlisted']], params[:status]), class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="fit-score-min">Fit Score (Min)</label>
          <%= number_field_tag :fit_score_min, params[:fit_score_min], class: 'form-control', min: 0, max: 100, placeholder: 'Minimum' %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="fit-score-max">Fit Score (Max)</label>
          <%= number_field_tag :fit_score_max, params[:fit_score_max], class: 'form-control', min: 0, max: 100, placeholder: 'Maximum' %>
        </div>
      </div>
       <div class="col-md-3 d-flex align-items-end">
    <%= submit_tag 'Filter', class: 'custom-button mx-3' %>
     <%= link_to 'Clear Filters', admin_job_path(@job), class: 'btn btn-secondary' %>
     </div>
    </div>
   
  <% end %>

  <%= form_tag admin_job_path(@job), method: :get, class: 'mb-4', id: 'sort-form'  do %>
  <%= hidden_field_tag :status, params[:status] if params[:status].present? %>
  <%= hidden_field_tag :fit_score_min, params[:fit_score_min] if params[:fit_score_min].present? %>
  <%= hidden_field_tag :fit_score_max, params[:fit_score_max] if params[:fit_score_max].present? %>
<div class="form-group mb-4 col-md-2">
  <label for="sort-by">Sort By:</label>
  <%= select_tag :sort_by, options_for_select([['Fit Score (Descending)', 'fit-score-desc'], ['Fit Score (Ascending)', 'fit-score-asc'], ['Application Date (Descending)', 'date-desc'], ['Application Date (Ascending)', 'date-asc']], params[:sort_by]), class: 'form-control sort_by', onchange: 'this.form.submit()' %>
</div>
 <% end %>

  <div id="applications-table">
    <%= render 'admin/jobs/application', applications: @applications, job: @job %>
  </div>

<div class="flickr_pagination mt-4">
    <%= will_paginate @applications, :container => false %>
</div>
</div>

<%# <script>
$(document).ready(function() {
  function updateApplications(url, data) {
    $.ajax({
      url: url,
      type: 'GET',
      data: data,
      dataType: 'script'
    });
  }

  $('#filter-form').on('submit', function(e) {
    e.preventDefault();
    updateApplications($(this).attr('action'), $(this).serialize());
  });

  $('#sort-form .sort_by').on('change', function() {
    updateApplications($('#sort-form').attr('action'), $('#sort-form').serialize());
  });

  $('#clear-filters').on('click', function(e) {
    e.preventDefault();
    $('#filter-form')[0].reset();
    updateApplications($(this).attr('href'), {});
  });
});
</script> %>